body{
    background-color: #cd84f19f;
 }
 #kod{
     width: 260px;
     height: 80px;
     background-color: #ccc;
     font: 60px tahoma;
     color: #00f;
     text-align: center;

 }

 .kod2{
     width: 270px;
     height: 250px;
    
     margin: 50px auto;
 }

 .buton{
     width: 150px;
     height: 30px;
     font-size: 20px;
     margin: 0 0 0 60px;
     transition: all 1s;
 }

 .buton:hover{
     background-color:#4b4b4b;
     color: white;
     transform: scale(1.135);
     cursor: pointer;
 }

 h1{
     margin: 0 0 15px 15px;
     font-size: 35px;
 }
